---
// Props
export interface Props {
	href: string;
	label: string;
	target?: string;
	rel?: string;
	className?: string;
}
const href = Astro.props.href;
const label = Astro.props.label;
const isExternalLink =
	/^(https?:)?\/\//.test(href) ||
	href.startsWith("mailto:") ||
	href.startsWith("tel:");
const target = Astro.props.target ?? (isExternalLink ? "_blank" : "_self");
const rel = Astro.props.rel ?? (isExternalLink ? "noopener noreferrer" : undefined);
const className = Astro.props.className ?? "";
---

<a
	href={href}
	target={target}
	rel={rel}
	data-button
	class={`primary-button cursor-pointer ${className}`}
>
	{label}
</a>
